numpy==1.26.4
pandas==2.2.2
scipy==1.11.4
networkx==3.3
geopandas==1.1.1
shapely==2.1.2
pyproj==3.7.2
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.1
joblib==1.4.2
geopy==2.4.1
deap==1.4.2
osmnx==2.0.2
Pillow==10.4.0
